<div ngbDropdown placement="bottom-right" *ngIf="user$ | async as _user" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span class="kt-header__topbar-username kt-hidden-mobile">{{_user.userAD}}</span>
	</div>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<!--begin: Head -->
		<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(./assets/media/misc/bg-azul.png)">
			<div class="kt-user-card__name">
				{{_user.userAD.toUpperCase() }}
			</div>
		</div>

		<!--end: Head -->
		

		<!--begin: Navigation -->
		<div class="kt-notification">
			<div class="kt-notification__custom">
				<a href="javascript:;" (click)="logout()" class="btn btn-outline-brand btn-upper btn-sm btn-bold">{{ 'EXIT' | translate }} </a>
			</div>
		</div>
	</div>
</div>
