<div class="col-md-3">
    <mat-form-field class="full-width">
      <mat-select
        [placeholder]="label"
        [(ngModel)]="value"
        [disabled]="isDisable"
        class="full-width"
        [ngStyle]="{'border': isKey ? '1px solid green' : 'none'}"
      >
      <mat-option  [value]="0">
        {{NEW_CHECKLIST_NONE_SELECTED | translate}} 
      </mat-option>
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.title }} 
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>  