<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v1" id="kt_login">
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
		<!--begin::Aside-->
		<div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background: rgb(0, 25, 101)">
			<div class="kt-grid__item">
				<div class="kt-login__info">
					<!-- <img src="./assets/media/apta/AptaReports400.png" alt=""> -->
				</div>
			</div>
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
				<div class="kt-grid__item kt-grid__item--middle">
					<div class="kt-login__info text-center">
						<img src="./assets/media/novo-nordisk/logo_branca.png" style="height: 200px; margin-left: 25%;" class="text-center" alt="">
					</div>
					<div class="kt-login__title apta-nome-sistema" style="margin-top: 5%;">SCADA Remote Monitoring</div>
				</div>
			</div>
			<div class="kt-grid__item">
				<div class="kt-login__info">
					<div class="kt-login__copyright">
						<!-- <img src="./assets/media/apta/logo_login.png" alt="APTA Sistemas"> -->
					</div>
					<div class="kt-login__copyright">
						© {{today|date:'yyyy'}}
					</div>
				</div>
			</div>
		</div>
		<!--begin::Content-->
		<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1 kt-login__wrapper">
			<router-outlet></router-outlet>
		</div>
		<!--end::Content-->
	</div>
</div>
