.background{
    background-size: cover !important; /*Css padrão*/
   -webkit-background-size: cover !important; /*Css safari e chrome*/
   -moz-background-size: cover !important;/*Css firefox*/
   -ms-background-size: cover !important; /*Css IE não use mer#^@%#*/
   -o-background-size: cover !important; /*Css Opera*/
    min-height: 500px;
    flex: auto;
    display: flex;


}
