<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>
<div class="kt-portlet">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{ 'MENU.DIAGNOSTIC' | translate }}</h3>
		</div>
	</div>

	<div class="kt-portlet__body">

		<div class="row">
			<div class="col-lg-3 text-center" *ngFor="let process of watchdogAlarm.processes">
				<i class="fas fa-wifi" *ngIf="process.processId != 5" [ngClass]="process.watchdogAlarm == true ? 'red-icon' : 'green-icon'"></i>
				<p *ngIf="process.processId != 5">{{process.description}} | {{ "ALARM" | translate }} </p>
			</div>
			<div class="col-lg-3 text-center">
				<i [ngClass]="watchdogAlarm.twilioAlarm == true ? 'red-icon' : 'green-icon'" class="fas fa-wifi"></i>
				<p>TWILIO</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 text-center" *ngFor="let process of watchdogAlarm.processes">
				<i class="fas fa-wifi" *ngIf="process.processId != 5" [ngClass]="process.watchdogEvent == true ? 'red-icon' : 'green-icon'"></i>
				<p *ngIf="process.processId != 5">{{process.description}} | {{ "EVENT" | translate }} </p>
			</div>
			<!-- <div class="col-lg-3 text-center">
				<i [ngClass]="watchdogAlarm.databaseAlarm == true ? 'red-icon' : 'green-icon'" class="fas fa-wifi"></i>
				<p>{{ 'AUTH.DIAGNOSTIC.DATABASE' | translate }}</p>
			</div> -->
		</div>
    </div>
</div>
