<!-- begin::Offcanvas Toolbar Quick Actions -->
<div ktOffcanvas [options]="offcanvasOptions" id="kt_quick_panel" *ngIf="user$ | async as _user" class="kt-quick-panel" [ngStyle]="{'overflow': 'hidden'}">
	<a href="javascript:;" class="kt-quick-panel__close" id="kt_quick_panel_close_btn"><i class="flaticon2-delete"></i></a>

	<div class="kt-quick-panel__nav">
		<ul ktTabClickEvent class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand kt-notification-item-padding-x" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" href="javascript:;" (click)="tab.select('tab-id-1');" role="tab">{{ "UseProfile" | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="javascript:;" (click)="tab.select('tab-id-2');" role="tab">{{ "PHONES" | translate }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="javascript:;" (click)="tab.select('tab-id-3');" role="tab">{{ "MENU.AREAS" | translate }}</a>
			</li>
		</ul>
	</div>

	<div class="kt-quick-panel__content">
		<ngb-tabset #tab="ngbTabset">
			<ngb-tab id="tab-id-1">
				<ng-template ngbTabContent>
					<div perfectScrollbar [ngStyle]="{'max-height': '85vh', 'position': 'relative'}" class="kt-notification-v2">
						<a href="javascript:;" class="kt-notification-v2__item">
							<div class="kt-notification-v2__item-icon">
								<i class="flaticon2-calendar-3 kt-font-success"></i>
							</div>
							<div class="kt-notification-v2__itek-wrapper">
								<div *ngFor="let item of _user.adGroups">
									<div class="kt-notification-v2__item-title">
										{{item.name}}
									</div>
									<div class="kt-notification-v2__item-desc" *ngIf="item.administrator">
										Administrador
									</div>
									<div class="kt-notification-v2__item-desc" *ngIf="item.maintenance">
										Manutenção
									</div>
									<div class="kt-notification-v2__item-desc" *ngIf="item.impactAnalyst">
										Análise de Impacto
									</div>
									<div class="kt-notification-v2__item-desc" *ngIf="item.qaAnalyst">
										Análise de QA
									</div>
								</div>
							</div>
						</a>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="tab-id-2">
				<ng-template ngbTabContent>
					<div perfectScrollbar [ngStyle]="{'max-height': '85vh', 'position': 'relative'}" class="kt-notification-v2">
						<a href="javascript:;" class="kt-notification-v2__item">
							<div class="kt-notification-v2__item-icon">
								<i class="flaticon2-phone kt-font-warning"></i>
							</div>
							<div class="kt-notification-v2__itek-wrapper">
								<div *ngFor="let item of _user.phonesNumbers">
									<div class="kt-notification-v2__item-desc">
										{{item}}
									</div>
								</div>
							</div>
						</a>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab id="tab-id-3">
				<ng-template ngbTabContent>
					<div perfectScrollbar [ngStyle]="{'max-height': '85vh', 'position': 'relative'}" class="kt-notification-v2">
						<a href="javascript:;" class="kt-notification-v2__item">
							<div class="kt-notification-v2__item-icon">
								<i class="flaticon-layer kt-font-danger"></i>
							</div>
							<div class="kt-notification-v2__itek-wrapper">
								<div *ngFor="let item of _user.groupsAreas">
									<div class="kt-notification-v2__item-desc">
										{{item}}
									</div>
								</div>
							</div>
						</a>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
<!-- end::Offcanvas Toolbar Quick Actions -->
