<div class="kt-portlet">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{"NEW_EDIT_CHECKLIST.TITLE" | translate }}</h3>
		</div>
	</div>
	<div class="kt-form" autocomplete="off">
		<div class="kt-portlet__body p-t-0">




			<div *ngIf="!loading" class="form-group kt-form__group d-block">
				<h2>{{ checklist.versionChecklistTemplate.checklistTemplateDescription + " - " +
					checklist.versionChecklistTemplate.version }}</h2>
				<div class="card">


					<h3>{{'NEW_EDIT_CHECKLIST.HEADER' | translate }}</h3>
					<div style="display: flex; flex-wrap: wrap; align-items: baseline; gap: 16px;">
						<div *ngFor="let field of checklist.versionChecklistTemplate.fieldsVersionChecklistsTemplate"
							class="combo-container">
							<div *ngIf=" field.fieldDataTypeId == 1">
								<div class="text-input full-width">
									<mat-form-field [appearance]="field.isKey ? 'outline' : 'legacy'"
										style="width: 200px;">
										<mat-label>{{ field.title }} </mat-label>
										<input matInput type="text"
											[value]="getValueField(field.fieldVersionChecklistTemplateId)" disabled />

									</mat-form-field>
								</div>
							</div>
							<div *ngIf=" field.fieldDataTypeId == 2">
								<div class="number-input">
									<mat-form-field class="example-full-width"
										[appearance]="field.isKey ? 'outline' : 'legacy'">
										<mat-label>{{ field.title }} </mat-label>
										<input matInput type="number"
											[value]="getValueField(field.fieldVersionChecklistTemplateId)" disabled />

									</mat-form-field>

								</div>
							</div>
							<div *ngIf=" field.fieldDataTypeId == 3">
								<div class="number-input">
									<div class="datePicker-input">
										<mat-form-field class="example-full-width"
											[appearance]="field.isKey ? 'outline' : 'legacy'">
											<mat-label>>{{ field.title }} </mat-label>
											<input [value]="getValueField(field.fieldVersionChecklistTemplateId)"
												disabled />

										</mat-form-field>
									</div>
								</div>
							</div>
							<div *ngIf=" field.fieldDataTypeId == 4">
								<!-- TODO:Mudar a cor do select -->
								<div class="col-md-3">
									<mat-form-field class="full-width"
										[appearance]="field.isKey ? 'outline' : 'legacy'">
										<mat-select [placeholder]="getValueField(field.fieldVersionChecklistTemplateId)"
											disbabled>

										</mat-select>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>




				<div *ngFor="let block of checklistVersion.blocksTree" class="component-wrapper">

					<div class="card">

						<mat-table [dataSource]="block.itemsChecklistsTemplate" class="styled-table">
							<!-- Column for Component Item Title -->
							<ng-container matColumnDef="title">
								<mat-header-cell *matHeaderCellDef style="flex: 2;">
									<div class="flex">

										<div>
											
											{{ block.title }}
										</div>
									<div *ngIf="block.dependentBlockVersionChecklistTemplate" class="dependecy-list">
										<span>{{ 'NEW_EDIT_CHECKLIST.DEPENDENCY' | translate }} </span>
										<span> : </span>
										<div *ngFor="let dependent of block.dependentBlockVersionChecklistTemplate">
											<span>{{ dependent.dependentString }}</span>
										</div>
										
									</div>
								</div>
								</mat-header-cell>
								<mat-cell *matCellDef="let componentItem" style="flex: 2;"
									[ngClass]="{'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
												'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'}">
									<div class="item-title"
										[ngClass]="{'disabled-title': componentItem.isDisabled , 'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
												'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'}">

										<!-- Título -->
										<div>
											<div>
												{{ componentItem.title }}
											</div>
											<div *ngIf="componentItem.dependencyItemVersionChecklistTemplate"
												class="dependecy-list">
												<span>{{ 'NEW_EDIT_CHECKLIST.DEPENDENCY' | translate }} </span>
												<span> : </span>
												<div
													*ngFor="let dependent of componentItem.dependencyItemVersionChecklistTemplate">
													<span>{{ dependent.dependentString }}</span>
												</div>

											</div>
										</div>
										<div *ngIf="componentItem.itemTypeId == 3 || componentItem.itemTypeId == 4 ">
											<p>
												<b
													[ngClass]="{'disabled-title': componentItem.isDisabled , 'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
												'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'}">{{componentItem.optionsTitle}}</b>
											</p>
											<custom-checkbox-input [isSingle]="componentItem.itemTypeId == 3"
												[isDisable]="componentItem.isDisabled"
												[optionsItems]="componentItem.optionItemsVersionChecklistTemplate"
												[items]="checklist.items"
												(valueChange)="onCheckboxValueChange($event,componentItem.itemVersionChecklistTemplateId)"></custom-checkbox-input>
										</div>


										<!-- Checkboxes -->

									</div>
								</mat-cell>
							</ng-container>
							<!-- Column for Signature -->
							<ng-container matColumnDef="signature" style="justify-content: end;">
								<mat-header-cell *matHeaderCellDef
									style="justify-content: center; flex:1">{{'NEW_EDIT_CHECKLIST.SIGNATURE' |
									translate}}</mat-header-cell>
								<mat-cell *matCellDef="let componentItem"
									[ngClass]="{'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
												'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'}"
									style="justify-content: end; flex:1;">
									<div style="display: flex;">
										<div class="flex"
											*ngIf="getInitials(componentItem.itemVersionChecklistTemplateId)">
											<div style="display: flex; flex-direction: row; justify-content: center;">
												<div [ngClass]="{'disabled-title': componentItem.isDisabled , 'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
												'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'}"
													style="display: flex; flex-direction: column;  align-items: center; justify-content: center;">
													<p style="margin: 0; padding: 0; font-size: 12px;">
														{{
														getDateSignature(componentItem.itemVersionChecklistTemplateId)}}
													</p>
													<p style="margin: 0; padding: 0; font-size: 12px;">
														{{getInitials(componentItem.itemVersionChecklistTemplateId)}}
													</p>

												</div>
												<button mat-icon-button color="primary"
													(click)="viewSignatureHistory(componentItem.itemVersionChecklistTemplateId)">
													<mat-icon matTooltip="">visibility</mat-icon>
												</button>
											</div>
										</div>
										<div class="flex">
											<button type="button" mat-raised-button color="primary"
												[disabled]="checkBtnAvaliability(componentItem)"
												(click)="sign(componentItem.itemVersionChecklistTemplateId, block.blockVersionChecklistTemplateId)">
												{{ 'NEW_EDIT_CHECKLIST.SIGN' | translate }}
											</button>
										</div>
										<div class="flex btn-space" *ngIf="componentItem.itemTypeId==2">
											<button type="button" mat-raised-button color="primary"
												[disabled]="checkBtnAvaliability(componentItem)"
												(click)="sign(componentItem.itemVersionChecklistTemplateId, block.blockVersionChecklistTemplateId)">
												{{ 'NEW_EDIT_CHECKLIST.SIGN' | translate }}
											</button>
										</div>
									</div>
								</mat-cell>
							</ng-container>



							<!-- Header Row -->
							<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
							<!-- Data Row -->
							<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

						</mat-table>

						<div *ngIf="block.blocks" class="sub-table ">
							<div class="sub-title" style="flex:1">
								<p>{{ block.blocks[0].title
									}}</p>
							</div>
							<div *ngIf="block.blocks[0].dependentBlockVersionChecklistTemplate" class="dependecy-list">
								<span>{{ 'NEW_EDIT_CHECKLIST.DEPENDENCY' | translate }} </span>
								<span> : </span>
								<div *ngFor="let dependent of block.blocks[0].dependentBlockVersionChecklistTemplate">
									<span>{{ dependent.dependentString }}</span>
								</div>


							</div>
							<div *ngFor="let b of block.blocks" style="flex:3">
								<mat-table [dataSource]="b.itemsChecklistsTemplate" class="styled-table">
									<!-- Column for Component Item Title -->
									<ng-container matColumnDef="title">
										<mat-header-cell *matHeaderCellDef style="flex: 2;"></mat-header-cell>
										<mat-cell *matCellDef="let componentItem" style="flex: 2;"
											[ngClass]="{'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
											'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'}">
											<div class="item-title"
												[ngClass]="{'disabled-title': componentItem.isDisabled , 
												'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
												'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'
											}">

												<!-- Título -->
												<div>
													<div>
														{{ componentItem.title }}
													</div>
													<div *ngIf="componentItem.dependencyItemVersionChecklistTemplate"
														class="dependecy-list">
														<span>{{ 'NEW_EDIT_CHECKLIST.DEPENDENCY' | translate }} </span>
														<span> : </span>
														<div
															*ngFor="let dependent of componentItem.dependencyItemVersionChecklistTemplate">
															<span>{{ dependent.dependentString }}</span>
														</div>

													</div>
												</div>
												<div
													*ngIf="componentItem.itemTypeId == 3 || componentItem.itemTypeId == 4 ">
													<p>
														<b
															[ngClass]="{'disabled-title': componentItem.isDisabled ,
															 'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
															'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'}">{{componentItem.optionsTitle}}</b>
													</p>
													<custom-checkbox-input [isSingle]="componentItem.itemTypeId == 3"
														[isDisable]="componentItem.isDisabled"
														[optionsItems]="componentItem.optionItemsVersionChecklistTemplate"
														[items]="checklist.items"
														(valueChange)="onCheckboxValueChange($event,componentItem.itemVersionChecklistTemplateId)"></custom-checkbox-input>
												</div>


												<!-- Checkboxes -->

											</div>
										</mat-cell>
									</ng-container>
									<!-- Column for Signature -->
									<ng-container matColumnDef="signature" style="justify-content: end;">
										<mat-header-cell *matHeaderCellDef
											style="justify-content: center; flex:1">{{'NEW_EDIT_CHECKLIST.SIGNATURE' |
											translate}}</mat-header-cell>
										<mat-cell *matCellDef="let componentItem"
											[ngClass]="{'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
												'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'}"
											style="justify-content: end; flex:1;">
											<div style="display: flex;">
												<div class="flex"
													*ngIf="getInitials(componentItem.itemVersionChecklistTemplateId)">
													<div
														style="display: flex; flex-direction: row; justify-content: center;">
														<div [ngClass]="{'disabled-title': componentItem.isDisabled , 'rejected-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='rejected',
												'completed-item':checkIfLatsItemIsRejected(componentItem.itemVersionChecklistTemplateId)=='completed'}"
															style="display: flex; flex-direction: column;  align-items: center; justify-content: center;">
															<p style="margin: 0; padding: 0; font-size: 12px;">
																{{
																getDateSignature(componentItem.itemVersionChecklistTemplateId)}}
															</p>
															<p style="margin: 0; padding: 0; font-size: 12px;">
																{{getInitials(componentItem.itemVersionChecklistTemplateId)}}
															</p>

														</div>
														<button mat-icon-button color="primary"
															(click)="viewSignatureHistory(componentItem.itemVersionChecklistTemplateId)">
															<mat-icon matTooltip="">visibility</mat-icon>
														</button>
													</div>
												</div>
												<div class="flex">
													<button type="button" mat-raised-button color="primary"
														[disabled]="checkBtnAvaliability(componentItem)"
														(click)="sign(componentItem.itemVersionChecklistTemplateId, block.blockVersionChecklistTemplateId)">
														{{ 'NEW_EDIT_CHECKLIST.SIGN' | translate }}
													</button>
												</div>
												<div class="flex btn-space" *ngIf="componentItem.itemTypeId==2">
													<button type="button" mat-raised-button color="primary"
														[disabled]="checkBtnAvaliability(componentItem)"
														(click)="sign(componentItem.itemVersionChecklistTemplateId, block.blockVersionChecklistTemplateId)">
														{{ 'NEW_EDIT_CHECKLIST.SIGN' | translate }}
													</button>
												</div>
											</div>
										</mat-cell>
									</ng-container>



									<!-- Header Row -->
									<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
									<!-- Data Row -->
									<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

								</mat-table>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
		<div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel changes"
							(click)="closeModal()">
							{{ 'CHECKLISTS.CLOSE' | translate }}
						</button>&nbsp;
						<button type="button" mat-raised-button color="primary" (click)="saveInformation()">
							{{ 'CONSOLE' | translate }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>