<div class="kt-portlet">
	<div class="kt-portlet__head kt-portlet__head__custom" z>
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{ "DELETE_GROUP" | translate}}</h3>
		</div>
	</div>
	<div style="margin-top: 15px;" class="row">
		<div class="col-lg-12 text-center">
			<h4 mat-dialog-content>{{ "WANT_DELETE_GROUP" | translate}} {{type.description}}?</h4>
		</div>
	</div>
	<div class="kt-form">
		<div class="kt-portlet__body p-t-0">
			<div class="form-group kt-form__group d-block">
				<div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
					<div class="kt-form__actions kt-form__actions--solid">
						<div class="row text-right">
							<div class="col-lg-12">
								<button (click)="closeDialog()" type="button" mat-raised-button cdkFocusInitial>
									{{ "AUTH.GENERAL.CANCEL" | translate }}
								</button>&nbsp;
								<button type="button" mat-raised-button color="primary" (click)="deleteGroup()"
									matTooltip="Excluir">
									{{ "MENU.DELETE" | translate }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
