.pdf-view{
    .mat-form-field{
        width: 100% !important;
    }

    .menu-pdf{
        background-color: #363838;
        width: 100%;
        min-height: 40px;
        border-bottom: #252323 solid 1px;
    }


    .content{
        height: 200vh;
    }

}
