<div class="my-container">
	<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->
</div>
<kt-portlet>
	<kt-portlet-body>
		<kt-alert *ngIf="error" type="warn" [duration]="5000" [showCloseButton]="true">
		</kt-alert>

		<div class="row">
			<div class="col-lg-6" style="padding-bottom: 10px;">
                <div class="row">
                    <div class="col-lg-12">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'MENU.FILTERS' | translate }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <hr/>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <mat-form-field  style="display: block !important;" >
                                            <input matInput placeholder="{{ 'MENU.ALARMS' | translate }}" [(ngModel)]="registerFilters.tag" >
                                        </mat-form-field>
                                        <mat-slide-toggle [(ngModel)]="registerFilters.onlyWithoutGroup">Only tags without group configuration</mat-slide-toggle>
                                    </div>
								</div>
								<div class="row">
                                    <div class="col-md-3">
										<mat-form-field class="full-width">
											<mat-select placeholder="{{ 'MENU.PROCESS' | translate }}" [(ngModel)]="registerFilters.processId"
												class="full-width" (selectionChange)="loadListAreas($event.value)">
												<mat-option *ngFor="let item of processes" [value]="item.processId">
													{{item.acronym}} - {{item.description}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-md-3">
										<mat-form-field class="full-width">
											<mat-select placeholder="{{ 'MENU.AREA' | translate }}" [(ngModel)]="registerFilters.areaId"
												class="full-width" [disabled]="areas == null || areas.length == 0">
												<mat-option *ngFor="let item of areas" [value]="item.areaId">
													{{item.name}} - {{item.description}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
                                </div>
                                <div class="row">
                                    <div class="d-flex" style="min-width: 300px;">
                                        <button mat-button style="height: 50px; width: 100%; padding: 10px; margin: 10px" mat-raised-button (click)="LoadByFilters()"
                                            color="primary" type="button" >
                                            <span>{{ 'MENU.FILTER' | translate }}</span>
                                        </button>
                                        <button mat-button style="height: 50px; width: 100%; padding: 10px; margin: 10px" mat-raised-button (click)="ClearFilters()"
                                            color="primary" type="button" >
                                            <span>{{ 'MENU.CLEAR' | translate }}</span>
                                        </button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <hr />
                    </div>
                    <div class="col-lg-12">
                        <mat-card>
                            <mat-card-title>
                                <h5>{{ 'AUTH.CONFIGURATION.CURRENT_REGISTERS' | translate }}</h5>
                            </mat-card-title>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mat-table__wrapper">
                                            <mat-table class="lmat-elevation-z8" #table [dataSource]="currentRegisters" matSort #sort1="matSort"
                                                matSortActive="id" matSortDirection="asc" matSortDisableClear style="min-width: 0 !important;">

                                                <ng-container matColumnDef="selected">
                                                    <mat-header-cell *matHeaderCellDef style="max-width: 10%;" >{{ "AUTH.QA_OVERVIEW.TABLE.SELECTED" | translate }}</mat-header-cell>
                                                    <mat-cell *matCellDef="let register" style="max-width: 10%;">
                                                        <input type="checkbox" [disabled]="register.typeOccurrenceRecordGroupId != null" (change)="onCheckboxChange(register)"/>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="tag" >
                                                    <mat-header-cell *matHeaderCellDef>{{ "MENU.TAG" | translate }}</mat-header-cell>
                                                    <mat-cell *matCellDef="let register">{{register.tag}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="process" >
                                                    <mat-header-cell *matHeaderCellDef style="max-width: 13%;">{{ "MENU.PROCESS" | translate }}</mat-header-cell>
                                                    <mat-cell *matCellDef="let register" style="max-width: 13%;">{{register.process}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="area">
                                                    <mat-header-cell *matHeaderCellDef style="max-width: 13%;">{{ "MENU.AREA" | translate }}</mat-header-cell>
                                                    <mat-cell *matCellDef="let register" style="max-width: 13%;">{{register.area}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="type">
                                                    <mat-header-cell *matHeaderCellDef>{{ "MENU.TYPE" | translate }}</mat-header-cell>
                                                    <mat-cell *matCellDef="let register">{{register.type}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="group">
                                                    <mat-header-cell *matHeaderCellDef>{{ "AUTH.CONFIGURATION.ID_GROUP" | translate }}</mat-header-cell>
                                                    <mat-cell *matCellDef="let register">{{register.typeOccurrenceRecordGroupId}}</mat-cell>
                                                </ng-container>
                                                <mat-header-row *matHeaderRowDef="columnRegisters" style="max-width: 100%;"></mat-header-row>

                                                <mat-row *matRowDef="let row; columns: columnRegisters" style="max-width: 100%;"></mat-row>
                                            </mat-table>

                                            <div class="mat-table__message" *ngIf="!currentRegisters.hasItems">{{ "MENU.NO_RECORDS" | translate }}</div>
                                            <!-- Message for empty data  -->
                                            <div class="mat-table__message" *ngIf="currentRegisters.isPreloadTextViewed$ | async">{{ "MENU.PLEASE_WAIT" | translate }}</div>
                                        </div>
                                        <div class="mat-table__bottom">
                                            <mat-spinner [color]="'primary'" [diameter]="20" *ngIf="currentRegisters.loading$ | async"></mat-spinner>
                                            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [length]="currentRegisters.paginatorTotal$ | async"
                                                [showFirstLastButtons]="true"></mat-paginator>
                                        </div>
                                    </div>
                                </div>
								<div class="row">
									<div class="col-lg-5">
										<button mat-button mat-raised-button (click)="editRegisterConfiguration()"
											color="primary" type="button" >
											<span>
												{{ 'MENU.CONFIGURE_RECORDS' | translate }}
											</span>
										</button>
									</div>
									<div class="col-lg-5">
										<button mat-button mat-raised-button (click)="createGroup()"
											color="primary" type="button" >
											<span>
												{{ 'AUTH.CONFIGURATION.CREATE_GROUP' | translate }}
											</span>
										</button>
									</div>
								</div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

			</div>

            <div class="col-lg-6" style="padding-bottom: 10px;">
                <mat-card>
                    <mat-card-title>
                        <h5>
                        {{ 'AUTH.CONFIGURATION.CURRENT_GROUPS' | translate }}</h5>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="mat-table__wrapper">
                            <mat-table class="lmat-elevation-z8" #table [dataSource]="currentGroups" matSort #sort1="matSort"
                                matSortActive="id" matSortDirection="asc" matSortDisableClear  style="min-width: 0 !important;">

                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef>{{ "MENU.ID" | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let group">{{group.typeOccurrenceGroupId}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef>{{ "MENU.NAME" | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let group">{{group.description}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="edit">
                                    <mat-header-cell *matHeaderCellDef>{{ "MENU.EDIT" | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let group">
                                        <span class="material-icons mt-3 userIcon view"  (click)="editGroup(group.typeOccurrenceGroupId)" >
                                            edit
                                        </span>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="delete">
                                    <mat-header-cell *matHeaderCellDef>{{ "MENU.DELETE" | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let group">
                                        <span class="material-icons mt-3 userIcon view" (click)="deleteGroup(group)">
                                            delete
                                        </span>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="columnGroups"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: columnGroups"></mat-row>
                            </mat-table>

                            <div class="mat-table__message" *ngIf="!currentGroups.hasItems">{{ "MENU.NO_RECORDS" | translate }}</div>
                            <!-- Message for empty data  -->
                            <div class="mat-table__message" *ngIf="currentGroups.isPreloadTextViewed$ | async">{{ "MENU.PLEASE_WAIT" | translate }}</div>
                        </div>
                        <div class="mat-table__bottom">
                            <mat-spinner [color]="'primary'" [diameter]="20" *ngIf="currentGroups.loading$ | async"></mat-spinner>
                            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [length]="currentGroups.paginatorTotal$ | async"
                                [showFirstLastButtons]="true"></mat-paginator>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
		</div>

	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
