<div 
  style="display: flex; flex-direction: column; flex-wrap: wrap; gap: 8px; max-height: 50px;"
>
  <div 
    *ngFor="let option of optionsField; let i = index" 
    style="display: flex; align-items: center;"
  >
    <label 
      [for]="option.optionItemVersionChecklistTemplateId?option.optionItemVersionChecklistTemplateId: option.optionFieldVersionChecklistTemplateId" 
      style="margin-right: 4px; margin-bottom: 0;"
    >
      {{ option.title }}
    </label>
    <input 
      type="checkbox"
      [id]="option.optionItemVersionChecklistTemplateId?option.optionItemVersionChecklistTemplateId: option.optionFieldVersionChecklistTemplateId  "
      [name]="option.itemVersionChecklistTemplateId?option.optionItemVersionChecklistTemplateId: option.fieldVersionChecklistTemplateId"
      [value]="option.value || 1" 
      [checked] = "option.checked"
      [(ngModel)]="option.checked"
      (change)="onCheckboxChange(option, i)"
    />
  </div>
</div>