<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
</div>
<kt-portlet style="margin-top: 0px;">
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'AUTH.QA_OVERVIEW.TITLE' | translate" [class]="'kt-portlet__head--lg'">
	</kt-portlet-header>

	<!-- end::Header -->

	<kt-portlet-body style="margin-top: 0px;">
		<kt-alert *ngIf="error" type="warn" [duration]="3000" [showCloseButton]="true" (close)="onAlertClose($event)">
			{{errorMessage}}
		</kt-alert>

		<div class="row">
			<div class="col-lg-12" style="padding-bottom: 10px;">
				<mat-accordion>
					<mat-expansion-panel [expanded]="panelWithAnalysis" (opened)="panelWithAnalysis = true"
						(closed)="panelWithAnalysis = false">
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{'AUTH.QA_OVERVIEW.TITLE_WITH_ANALYSE' | translate}}
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div class="row">
							<div class="col-lg-12" style="padding-bottom: 10px;">
								<div class="mat-table__wrapper">
									<mat-table class="lmat-elevation-z8" #table [dataSource]="pendingDS"
										matSort #sort1="matSort" matSortActive="id" matSortDirection="asc"
										matSortDisableClear>

										<ng-container matColumnDef="alarms">
											<mat-header-cell *matHeaderCellDef>{{ "AUTH.QA_OVERVIEW.TABLE.ALARM" |
												translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.alarms}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="description">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.DESCRIPTION" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.description}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="process">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.PROCESS" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.process}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="area">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.AREA" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.area}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="id">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.ID" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{ alarm.occurrenceRecordId }}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="impactedArea">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.IMPACTED_AREA" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{ alarm.impactedArea }}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="analysisDate">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.ANALYSIS_DATE" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.analysisDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="startDate">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.START_DATE" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="endDate">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.END_DATE" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="responsible">
											<mat-header-cell *matHeaderCellDef style="justify-content: center;">{{
												"AUTH.QA_OVERVIEW.TABLE.RESPONSIBLE" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" style="justify-content: center;" (click)="viewDetails(alarm)">{{ alarm.responsible }}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="result">
											<mat-header-cell class="col-center" *matHeaderCellDef>{{ "AUTH.QA_OVERVIEW.TABLE.CAUSESIMPACTS" | translate }}</mat-header-cell>
											<mat-cell class="col-center mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">
												<input type="checkbox" onclick="return false" [ngModel]="alarm.result" />
											</mat-cell>
										</ng-container>

										<ng-container matColumnDef="comments">
											<mat-header-cell class="col-center" *matHeaderCellDef >{{"AUTH.QA_OVERVIEW.TABLE.DETAILS" | translate }}</mat-header-cell>
											<mat-cell class="col-center mouse" *matCellDef="let alarm">
												<span *ngIf="alarm.comments.length <= 20">
													{{alarm.comments }}
												</span>
												<mat-icon class="view" *ngIf="alarm.comments.length > 20" (click)="viewSignatureDetails(alarm)">visibility</mat-icon>
											</mat-cell>
										</ng-container>

										<ng-container matColumnDef="state">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.STATE" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.state }}</mat-cell>
										</ng-container>
										
										<ng-container matColumnDef="notify">
											<mat-header-cell class="col-center" *matHeaderCellDef>{{ "AUTH.QA_OVERVIEW.TABLE.NOTIFY" | translate }}</mat-header-cell>
											<mat-cell class="view" *matCellDef="let alarm">
												<a (click)="sendNotification(alarm, true)" style="text-align: center; width: 100%; cursor: pointer;">
													<span class="material-icons fa-1x" style="color: primary;" >
														notifications
													</span>
												</a>
											</mat-cell>
										</ng-container>

										<ng-container matColumnDef="messages_history">
											<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "MESSAGES_HISTORY" | translate }}</mat-header-cell>
											<mat-cell *matCellDef="let occurrence" style="justify-content: center;">
												<button mat-icon-button color="primary" (click)="viewMessageHistory(occurrence.occurrenceRecordId)">
													<mat-icon matTooltip="">visibility</mat-icon>
												</button>
											</mat-cell>
										</ng-container>

										<mat-header-row *matHeaderRowDef="columnWaitingApprovation"></mat-header-row>

										<mat-row
											*matRowDef="let row; columns: columnWaitingApprovation"></mat-row>
									</mat-table>

									<div class="mat-table__message"
										*ngIf="pendingDS && !pendingDS.hasItems">{{
										"MENU.NO_RECORDS" | translate }}</div>

									<div class="mat-table__message"
										*ngIf="pendingDS && pendingDS.isPreloadTextViewed$ | async">
										{{ "MENU.PLEASE_WAIT" | translate }}</div>
								</div>
								<div class="mat-table__bottom">
									<mat-spinner [color]="'primary'" [diameter]="20"
										*ngIf="pendingDS && pendingDS.loading$ | async">
									</mat-spinner>
									<mat-paginator #paginator2 [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
										[length]="pendingDS && pendingDS.paginatorTotal$ | async"
										[showFirstLastButtons]="true"></mat-paginator>
								</div>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12" style="padding-bottom: 10px;">
				<mat-accordion>
					<mat-expansion-panel [expanded]="panelWithoutAnalysis" (opened)="panelWithoutAnalysis = true"
						(closed)="panelWithoutAnalysis = false">
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{'AUTH.QA_OVERVIEW.TITLE_WITHOUT_ANALYSE' | translate}}
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div class="row">
							<div class="col-lg-12" style="padding-bottom: 10px;">
								<div class="mat-table__wrapper">
									<mat-table class="lmat-elevation-z8" #table [dataSource]="waitingImpactAnalysisDS"
										matSort #sort1="matSort" matSortActive="id" matSortDirection="asc"
										matSortDisableClear>

										<ng-container matColumnDef="alarms">
											<mat-header-cell *matHeaderCellDef>{{ "AUTH.QA_OVERVIEW.TABLE.ALARM" |
												translate }}</mat-header-cell>
											<mat-cell class="mouse" (click)="viewDetails(alarm)" *matCellDef="let alarm">{{alarm.alarms}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="description">
											<mat-header-cell *matHeaderCellDef>{{
												"AUTH.QA_OVERVIEW.TABLE.DESCRIPTION" | translate }}</mat-header-cell>
											<mat-cell class="mouse" (click)="viewDetails(alarm)" *matCellDef="let alarm">{{alarm.description}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="type">
											<mat-header-cell *matHeaderCellDef>{{
												"AUTH.QA_OVERVIEW.TABLE.TYPE" | translate }}</mat-header-cell>
											<mat-cell class="mouse" (click)="viewDetails(alarm)" *matCellDef="let alarm">{{ alarm.type }}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="process">
											<mat-header-cell *matHeaderCellDef>{{
												"AUTH.QA_OVERVIEW.TABLE.PROCESS" | translate }}</mat-header-cell>
											<mat-cell class="mouse" (click)="viewDetails(alarm)" *matCellDef="let alarm">{{ alarm.process }}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="area">
											<mat-header-cell *matHeaderCellDef>{{
												"AUTH.QA_OVERVIEW.TABLE.AREA" | translate }}</mat-header-cell>
											<mat-cell class="mouse" (click)="viewDetails(alarm)" *matCellDef="let alarm">{{ alarm.area }}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="id">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.ID" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{ alarm.occurrenceRecordId }}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="impactedArea">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.IMPACTED_AREA" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{ alarm.impactedArea }}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="startDate">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.START_DATE" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="endDate">
											<mat-header-cell *matHeaderCellDef >{{
												"AUTH.QA_OVERVIEW.TABLE.END_DATE" | translate }}</mat-header-cell>
											<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="analyse">
											<mat-header-cell *matHeaderCellDef>{{
												"AUTH.QA_OVERVIEW.TABLE.STATE" | translate }}</mat-header-cell>
											<mat-cell class="mouse" (click)="viewDetails(alarm)" *matCellDef="let alarm">{{ alarm.state }}</mat-cell>
										</ng-container>

										<ng-container matColumnDef="notify">
											<mat-header-cell class="col-center" *matHeaderCellDef>{{ "AUTH.QA_OVERVIEW.TABLE.NOTIFY" | translate }}</mat-header-cell>
											<mat-cell class="view" *matCellDef="let alarm">
												<a (click)="sendNotification(alarm, false)" style="text-align: center; width: 100%; cursor: pointer;">
													<span class="material-icons fa-1x" style="color: primary;" >
														notifications
													</span>
												</a>
											</mat-cell>
										</ng-container>

										<ng-container matColumnDef="messages_history">
											<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "MESSAGES_HISTORY" | translate }}</mat-header-cell>
											<mat-cell *matCellDef="let occurrence" style="justify-content: center;">
												<button mat-icon-button color="primary" (click)="viewMessageHistory(occurrence.occurrenceRecordId)">
													<mat-icon matTooltip="">visibility</mat-icon>
												</button>
											</mat-cell>
										</ng-container>

										<mat-header-row *matHeaderRowDef="columnWaitingInspection"></mat-header-row>

										<mat-row *matRowDef="let row; columns: columnWaitingInspection"></mat-row>
									</mat-table>

									<div class="mat-table__message"
										*ngIf="waitingImpactAnalysisDS && !waitingImpactAnalysisDS.hasItems">{{
										"MENU.NO_RECORDS" | translate }}</div>
									<div class="mat-table__message"
										*ngIf="waitingImpactAnalysisDS && waitingImpactAnalysisDS.isPreloadTextViewed$ | async">
										{{ "MENU.PLEASE_WAIT" | translate }}</div>
								</div>
								<div class="mat-table__bottom">
									<mat-spinner [color]="'primary'" [diameter]="20"
										*ngIf="waitingImpactAnalysisDS && waitingImpactAnalysisDS.loading$ | async">
									</mat-spinner>
									<mat-paginator #paginator3 [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
										[length]="waitingImpactAnalysisDS && waitingImpactAnalysisDS.paginatorTotal$ | async"
										[showFirstLastButtons]="true"></mat-paginator>
								</div>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
    </kt-portlet-body>
</kt-portlet>