// import login css
@import "sass/pages/login/login-1";

kt-auth, .kt-login {
	height: 100%;

	.mat-form-field {
		width: 100%;
	}

	// add extra right padding when displaying spinner in button
	.kt-spinner {
		padding-right: 3rem !important;
	}
}

.td-nome-sistema {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	color: rgb(242,242,242) !important;
}

.td-login-bg {
	background-image: url(../../../../assets/media/td/bg_azul.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}
