<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
</div>
<div class="kt-portlet">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{"REMOVE_AD_GROUP" | translate}}</h3>
		</div>
	</div>
	<div style="margin-top: 15px;" class="row">
		<div class="col-lg-12 text-center">
			<h4 mat-dialog-content>{{"REMOVE_AD_GROUP" | translate}} {{adGroup.name}}?</h4>
		</div>
	</div>
	<div style="padding: 15px 15px 15px 15px;" class="row">
		<div class="col-lg-12">
			<h5>{{ "COMMENTS" | translate }}*</h5>
			<div class="textarea-wrapper">
				<textarea class="input" appearance="outline" style="width: 100%;" pInputTextArea
					[(ngModel)]="comments" (ngModelChange)="valueChange(comments.length)"
					maxlength="8000"></textarea>
				<span class="remaning">{{remainingText}}</span>
			</div>
		</div>
	</div>
	<div class="kt-form">
		<div class="kt-portlet__body p-t-0">
			<div class="form-group kt-form__group d-block">
				<div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
					<div class="kt-form__actions kt-form__actions--solid">
						<div class="row text-right">
							<div class="col-lg-12">
								<button (click)="closeDialog()" type="button" mat-raised-button cdkFocusInitial
									matTooltip="Cancelar">
									{{"AUTH.GENERAL.CANCEL" | translate}}
								</button>&nbsp;
								<button type="button" mat-raised-button color="primary" (click)="sign()"
									matTooltip="Excluir">
									{{"REMOVE" | translate}}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
