<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>
<div class="kt-portlet">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{ "MENU.ANALYSIS_DETAILS" | translate }}</h3>
		</div>
	</div>
	<div class="kt-portlet__body p-t-0">

		<div class="card" *ngIf="this.occurrences != null && this.occurrences.length > 1">
			<h5>
				{{ "AUTH.QA_OVERVIEW.DETAILS.REG_TITLE" | translate }}
			</h5>
			<table class="table table-responsive w-100 d-block d-md-table">
				<thead class="thead-light">
					<tr>
						<th scope="col">{{ "MENU.TAG" | translate }}</th>
						<th scope="col">{{ "AUTH.QA_OVERVIEW.DETAILS.TABLE.DESCRIPTION" | translate }}</th>
						<th scope="col">{{ "MENU.NODE" | translate }}</th>
						<th scope="col">{{ "AUTH.QA_OVERVIEW.DETAILS.TABLE.PROCESS" | translate }}</th>
						<th scope="col">{{ "MENU.AREA" | translate }}</th>
						<th scope="col">{{ "MENU.START_DATE" | translate }}</th>
						<th scope="col">{{ "MENU.END_DATE" | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item, let i = index of this.occurrenceDetails">
						<td class="cursor" (click)="setOccurrenceView(i)">{{item.alarm }}</td>
						<td class="cursor" (click)="setOccurrenceView(i)">{{item.description }}</td>
						<td class="cursor" (click)="setOccurrenceView(i)">{{item.node}}</td>
						<td class="cursor" (click)="setOccurrenceView(i)">{{item.process}}</td>
						<td class="cursor" (click)="setOccurrenceView(i)">{{item.area }}</td>
						<td class="cursor" (click)="setOccurrenceView(i)">{{item.dateStart | date:'yyyy-MM-dd HH:mm:ss' }}</td>
						<td class="cursor" (click)="setOccurrenceView(i)">{{item.dateEnd | date:'yyyy-MM-dd HH:mm:ss' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="card" *ngIf="showData">
			<div class="row form-group">
				<div class="col-lg-11">
					<h5>{{ "MENU.OCCURRENCE_DETAILS" | translate }}</h5>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-3">
					<label>{{ "MENU.TAG" | translate }}</label><br />
					<span>{{occurrenceView.alarm}} </span>
				</div>
				<div class="col-lg-3">
					<label>{{ "MENU.DESCRIPTION" | translate }}</label><br />
					<span>{{occurrenceView.description}} </span>
				</div>
				<div class="col-lg-3">
					<label>{{ "MENU.NODE" | translate }}</label><br />
					<span>{{occurrenceView.node}}</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-3">
					<label>{{ "MENU.PROCESS" | translate }}</label><br />
					<span>{{occurrenceView.process}}</span>
				</div>
				<div class="col-lg-3">
					<label>{{ "MENU.IMPACTED_AREA" | translate }}</label><br />
					<span>{{occurrenceView.impactedArea}}</span>
				</div>
				<div class="col-lg-3">
					<label>{{ "MENU.START_DATE" | translate }}</label><br />
					<span>{{occurrenceView.dateStart | date:'yyyy-MM-dd HH:mm:ss'}} </span>
				</div>
				<div class="col-lg-3">
					<label>{{ "MENU.END_DATE" | translate }}</label><br />
					<span>{{occurrenceView.dateEnd | date:'yyyy-MM-dd HH:mm:ss'}}</span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-3">
					<label>{{ "MENU.WORST_CASE" | translate }}</label><br />
					<span>{{occurrenceView.extremeValue}}</span>
				</div>
				<div class="col-lg-3">
					<label>{{ "MENU.UNIT" | translate }}</label><br />
					<span>{{occurrenceView.unit}} </span>
				</div>
			</div>
			<div class="row form-group" *ngIf="occurrenceFlux != null && occurrenceFlux.length > 0">
				<div class="col-lg-12">
					<div class="card">
						<div class="row">
							<div class="col-lg-12">
								<label>{{ "MENU.SUBSCRIPTION_HISTORY" | translate }}</label>
								<div class="table-responsive">
									<table class="table table-lista table-striped table-hover">
			
										<thead>
											<tr>
												<th>{{ "MENU.SIGNATURE_DATE" | translate }}</th>
												<th>{{ "AUTH.QA_OVERVIEW.TABLE.TYPE" | translate }}</th>
												<th>{{ "MENU.RESPONSIBLE" | translate }}</th>
												<th>{{ "MENU.STATUS" | translate }}</th>
												<th>{{ "MENU.ANALYSIS" | translate }}</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let item of occurrenceFlux">
												<td>
													{{ item.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}
												</td>
												<td>
													{{item.type}}
												</td>
												<td>
													{{item.initials}}
												</td>
												<td>
													{{item.resultText}}
												</td>
												<td>
													<span *ngIf="item.comments.length <= 30">
														{{item.comments }}
													</span>
													<mat-icon class="view" *ngIf="item.comments.length > 30" (click)="viewSignatureDetails(item)">visibility</mat-icon>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div class="card">
			<div class="row">
				<div class="col-lg-3">
					<h5>{{ "MENU.ANALYSIS_IMPACT" | translate }}</h5>
					<mat-checkbox [(ngModel)]="impact" color="primary">
						{{ "MENU.THERE_IMPACT" | translate }}
					</mat-checkbox>
				</div>
				<div class="col-lg-7">
					<h5>{{ "MENU.ANALYSIS_DETAIL" | translate }}</h5>
					<div class="textarea-wrapper">
						<textarea class="input" appearance="outline" style="width: 100%;" pInputTextArea [(ngModel)]="description" (ngModelChange)="valueChange(description.length)" maxlength="8000"></textarea>
						<span class="remaning">{{remainingText}}</span>
					</div>
				</div>
				<div class="col-lg-2">
					<h5></h5>
					<button mat-button style="height: 50px; width: 100%;" mat-raised-button color="primary"
						type="button" (click)="sign()">
						<span>{{ 'MENU.SUBSCRIBE' | translate }}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
