<div class="container">
    <div class="datePicker-input">
      <mat-form-field class="example-full-width">
        <mat-label>{{ label }}</mat-label>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          [placeholder]="placeholder"
          [(ngModel)]="component.value"
          [disabled]="isDisable"
          [ngStyle]="{'border': isKey ? '1px solid green' : 'none'}"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          [showSpinners]="showSpinners"
          [showSeconds]="showSeconds"
          [stepHour]="stepHour"
          [stepMinute]="stepMinute"
          [stepSecond]="stepSecond"
          [touchUi]="touchUi"
          [enableMeridian]="enableMeridian"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
  </div>
  