<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
</div>
<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'MENU.CHECKLISTS' | translate " [class]="'kt-portlet__head--lg'">
	</kt-portlet-header>

	<!-- end::Header -->

	<kt-portlet-body>
		<kt-alert *ngIf="error" type="warn" [duration]="5000" [showCloseButton]="true">
			{{mensagemErro}}
		</kt-alert>



		<div class="row">
			<div class="col-lg-12" style="padding-bottom: 10px;">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{ 'FILTERS.FILTERS' | translate }}

							</mat-panel-title>
						</mat-expansion-panel-header>

						<div class="row">
							<div class="col-md-10">
								<div class="row">
									<div class="col-md-3">
										<mat-form-field class="full-width">
											<mat-select [placeholder]="checklist" [(ngModel)]="filter.checklistTemplateId" (selectionChange)="changeTemplate()" class="full-width">
												<mat-option value="0"></mat-option>
												<mat-option *ngFor="let item of checklistsFileter" [value]="item.checklistTemplateId">
													{{item.description}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-md-3" *ngIf="filter.checklistTemplateId > 0">
										<mat-form-field class="full-width">
											<mat-select [placeholder]="versions" [(ngModel)]="filter.versionChecklistTemplateId" class="full-width">
												<mat-option value="0"></mat-option>
												<mat-option *ngFor="let item of versionListTemplate" [value]="item.versionChecklistTemplateId">
													{{item.version}} 
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<mat-form-field class="example-full-width">
											<mat-label>{{ 'FILTERS.START_DATE' | translate }}</mat-label>
											<input matInput [ngxMatDatetimePicker]="picker"
												placeholder="{{ 'MENU.START_DATE' | translate }}"
												[(ngModel)]="filter.startDate" disabled="false">
											<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
											<ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
												[showSeconds]="showSeconds" [stepHour]="stepHour"
												[stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
												[enableMeridian]="enableMeridian">
											</ngx-mat-datetime-picker>
										</mat-form-field>
									</div>
									<div class="col-md-3">
										<mat-form-field class="example-full-width">
											<mat-label>{{ 'FILTERS.END_DATE' | translate }}</mat-label>
											<input matInput [ngxMatDatetimePicker]="picker1"
												placeholder="{{ 'MENU.END_DATE' | translate }}"
												[(ngModel)]="filter.endDate" disabled="false">
											<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
											<ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners"
												[showSeconds]="showSeconds" [stepHour]="stepHour"
												[stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
												[enableMeridian]="enableMeridian">
											</ngx-mat-datetime-picker>
										</mat-form-field>
									</div>
								</div>

								
							</div>
							<div class="col-md-2">
								<div class="row">
									<div class="col-md-12" style="padding: 10px;">
										<button mat-button (click)="filtrar()" style="height: 50px; width: 100%;"
											mat-raised-button color="primary" type="button">
											<span>{{ 'FILTERS.FILTER' | translate }}</span>
										</button>
									</div>
									<div class="col-md-12" style="padding: 10px;">
										<button mat-button (click)="limparFiltros()" style="height: 50px; width: 100%;"
											mat-raised-button color="default" type="button">
											<span>{{ 'FILTERS.CLEAR' | translate }}</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
				<div class="row">
					<div class="d-flex" style="min-width: 150px;">
						<button mat-button style="height: 50px; width: 100%; padding: 10px; margin: 10px" mat-raised-button
							color="primary" type="button" (click)="newChecklist()" [disabled]="loadingCSV">
							<span>{{ 'CHECKLISTS.NEW' | translate }}</span>
						</button>
						<button mat-button style="height: 50px; width: 100%; padding: 10px; margin: 10px" mat-raised-button
						color="primary" type="button" (click)="consoleShowChelistPage()" [disabled]="loadingCSV || !dataSource.hasItems">
						<span>{{ 'CHECKLISTS.Console' | translate }}</span>
					</button>
					</div>
				</div>
			</div>
		</div>



		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
				matSortActive="id" matSortDirection="asc" matSortDisableClear>
				<!-- Checkbox Column -->

				<!-- Table with selection -->
				<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
				<ng-container matColumnDef="edit" >
					<mat-header-cell  *matHeaderCellDef style="flex: 0 0 100px;" mat-sort-header>{{ "CHECKLISTS.EDIT" | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let checklist" style="flex: 0 0 100px; ">
						<button mat-icon-button color="primary" (click)="editChecklList(checklist)">
							<mat-icon matTooltip="">edit</mat-icon>
						</button>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="Checklist">
					<!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CHECKLISTS.CHECKLIST" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let checklist">
						{{checklist.versionChecklistTemplate?.checklistTemplateDescription}} - {{checklist.versionChecklistTemplate?.version}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="batch">
					<mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;">{{ "CHECKLISTS.BATCH" | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let checklist" style="justify-content: center;">{{getBatchIdValue(checklist?.fields)}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="batch_date">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CHECKLISTS.BATCH_DATE" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let checklist">{{checklist.formattedDate}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="is_batch_released">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CHECKLISTS.IS_BATCH_RELEASED" | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let checklist">"is_Closed?"</mat-cell>
					<!-- <mat-cell *matCellDef="let alarm">{{alarm.areaName}}</mat-cell> -->

				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<div>
				<div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ "NO_RECORDS" | translate }}</div>
			</div>
			<!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">{{ "PLEASE_WAIT" |
				translate }}</div>
		</div>
		<div class="mat-table__bottom">
			<mat-spinner [color]="'primary'" [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [length]="dataSource.paginatorTotal$ | async"
				[showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
