<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
</div>
<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'MENU.USERS' | translate " [class]="'kt-portlet__head--lg'">
	</kt-portlet-header>

	<!-- end::Header -->

	<kt-portlet-body>
		<kt-alert *ngIf="error" type="warn" [duration]="5000" [showCloseButton]="true">
			{{mensagemErro}}
		</kt-alert>

		<div class="row">
			<div class="col-lg-12" style="padding-bottom: 10px;">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{ 'MENU.FILTERS' | translate }}

							</mat-panel-title>
						</mat-expansion-panel-header>

						<div class="row">
							<div class="col-md-8">
								<mat-form-field class="full-width">
									<mat-label>{{ "INITIALS" | translate }}</mat-label>
									<input type="text" matInput autocomplete="off" [(ngModel)]="filter.initials">
								</mat-form-field>
							</div>
							<div class="col-md-2" style="padding: 10px;">
								<button mat-button (click)="applyFilters()" style="height: 50px; width: 100%;"
									mat-raised-button color="primary" type="button">
									<span>{{ 'MENU.FILTER' | translate }}</span>
								</button>
							</div>
							<div class="col-md-2" style="padding: 10px;">
								<button mat-button (click)="clear()" style="height: 50px; width: 100%;"
									mat-raised-button color="default" type="button">
									<span>{{ 'MENU.CLEAR' | translate }}</span>
								</button>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>

		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
				matSortActive="id" matSortDirection="asc" matSortDisableClear>
				<!-- Checkbox Column -->

				<!-- Table with selection -->
				<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
				<ng-container matColumnDef="edit">
					<mat-header-cell *matHeaderCellDef>{{ "AVAILABILITY" | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let user">
						<button mat-icon-button color="primary" (click)="viewDetails(user)">
							<mat-icon>create</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="areas">
					<mat-header-cell *matHeaderCellDef>{{ 'MENU.AREA' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let user">
						<button mat-icon-button color="primary" (click)="viewDetailsAreas(user)">
							<mat-icon>map</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="phones">
					<mat-header-cell *matHeaderCellDef>{{ "PHONES" | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let user">
						<button mat-icon-button color="primary" (click)="viewDetailsPhones(user)">
							<mat-icon>phone</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="initials">
					<mat-header-cell *matHeaderCellDef>{{ "INITIALS" | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let user">{{user.initials}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="status">
					<mat-header-cell *matHeaderCellDef>{{ "STATUS" | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let user">
						<span *ngIf="user.deactivated == 0"> {{ "ACTIVE" | translate }} </span>
						<span *ngIf="user.deactivated != 0"> {{ "DEACTIVATED" | translate }} </span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="active">
					<!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "ACTIVE" | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let user">
						<button mat-icon-button color="primary" (click)="controlUser(user)">
							<mat-icon >settings</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>

			<div *ngIf="dataSource != null">
				<div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ "MENU.NO_RECORDS" | translate }}</div>
			</div>
			<!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">{{ "MENU.PLEASE_WAIT" |
				translate }}</div>
		</div>
		<div class="mat-table__bottom">
			<mat-spinner [color]="'primary'" [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [length]="dataSource.paginatorTotal$ | async"
				[showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
