<div class="kt-portlet">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title" *ngIf="typeId == 1">{{"OCCURRENCE_RECORD_ALARM" | translate }}</h3>
			<h3 class="kt-portlet__head-title" *ngIf="typeId == 2">{{ "OCCURRENCE_RECORD_EVENT" | translate }}</h3>
		</div>
	</div>
	<div class="kt-form" autocomplete="off">
		<div class="kt-portlet__body p-t-0">
			<div class="form-group kt-form__group d-block">
				<div class="row">
					<div class="col-md-3">
						<mat-form-field class="full-width">
							<mat-select placeholder="{{ 'MENU.PROCESS' | translate }}*" [(ngModel)]="filter.process"
								class="full-width" (selectionChange)="loadListAreas($event.value)">
								<mat-option *ngFor="let item of processes" [value]="item.processId">
									{{item.acronym}} - {{item.description}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-">
						<mat-form-field class="full-width">
							<mat-select placeholder="{{ 'MENU.AREA' | translate }}*" [(ngModel)]="filter.area"
								class="full-width" [disabled]="areas == null || areas.length == 0" (selectionChange)="loadListTypes()">
								<mat-option *ngFor="let item of areas" [value]="item.areaId">
									{{item.name}} - {{item.description}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-md-6">
						<mat-form-field class="full-width">
							<mat-select placeholder="{{ (loadingTags == true ? 'LOADING' : ((typesOccurrences == null || typesOccurrences.length == 0) ? 'NOT_FOUND' : 'MENU.TAG')) | translate }} {{(loadingTags == true ? '' : ((typesOccurrences == null || typesOccurrences.length == 0) ? '' : ' - '))}} {{ (loadingTags == true ? '' : ((typesOccurrences == null || typesOccurrences.length == 0) ? '' : 'MENU.DESCRIPTION')) | translate }} *" [(ngModel)]="occurrence.typeOccurrenceRecordId" class="full-width"
								[disabled]="typesOccurrences == null || typesOccurrences.length == 0" (selectionChange)="setMessage($event)">
								<mat-option *ngFor="let item of typesOccurrences" [value]="item.typeOccurrenceRecordId">
									{{item.tag}} - {{item.description}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>

				</div>

				<div *ngIf="typeId == 2" class="row">
					<div class="col-lg-3">
						<mat-form-field class="full-width">
							<mat-label>{{ 'BEFORE_VALUE' | translate }}*</mat-label>
							<input type="text" matInput autocomplete="off" [(ngModel)]="occurrence.beforeValue">
						</mat-form-field>
					</div>
					<div class="col-lg-3">
						<mat-form-field class="full-width">
							<mat-label>{{ 'NEW_VALUE' | translate }}*</mat-label>
							<input type="text" matInput autocomplete="off" [(ngModel)]="occurrence.newValue">
						</mat-form-field>
					</div>
					<div class="col-lg-6">
						<mat-form-field class="full-width">
							<mat-label>{{'AUTH.QA_OVERVIEW.DETAILS.COMMENTS' | translate}}*</mat-label>
							<input type="text" matInput autocomplete="off" [(ngModel)]="occurrence.comment">
						</mat-form-field>
					</div>
				</div>
				<div *ngIf="typeId == 2" class="row">
					<div  class="col-lg-3">
						<mat-form-field class="full-width">
							<mat-label>{{ "AUTH.QA_REPORT.TABLE.RESPONSIBLE" | translate }}*</mat-label>
							<input type="text" matInput autocomplete="off" [(ngModel)]="occurrence.responsibleEvent">
						</mat-form-field>
					</div>
				</div>
				<div  *ngIf="typeId == 1" class="row">
					<div class="col-lg-12">
						<mat-form-field class="full-width">
							<mat-label>{{ 'MENU.MESSAGE' | translate }}*</mat-label>
							<input type="text" matInput autocomplete="off" disabled [(ngModel)]="occurrence.message">
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<mat-form-field class="example-full-width">
							<mat-label>{{ "MENU.START_DATE" | translate }}*</mat-label>
							<input matInput [ngxMatDatetimePicker]="picker1" autocomplete="off"
								placeholder="{{ 'MENU.START_DATE' | translate }}"
								[(ngModel)]="occurrence.dateTimeStart" disabled="false">
							<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
							<ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners"
								[showSeconds]="showSeconds" [stepHour]="stepHour"
								[stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
								[enableMeridian]="enableMeridian">
							</ngx-mat-datetime-picker>
						</mat-form-field>
					</div>
					<div *ngIf="typeId == 1" class="col-md-3">
						<mat-form-field class="example-full-width">
							<mat-label>{{ "AUTH.QA_OVERVIEW.DETAILS.TABLE.ACK_DTH" | translate }}</mat-label>
							<input matInput [ngxMatDatetimePicker]="picker" autocomplete="off"
								placeholder="{{ 'AUTH.QA_OVERVIEW.DETAILS.TABLE.ACK_DTH' | translate }}"
								[(ngModel)]="occurrence.dateTimeAck" disabled="false">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
								[showSeconds]="showSeconds" [stepHour]="stepHour"
								[stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
								[enableMeridian]="enableMeridian">
							</ngx-mat-datetime-picker>
						</mat-form-field>
					</div>

					<div *ngIf="typeId == 1" class="col-lg-3">
						<mat-form-field class="full-width">
							<mat-label>{{ "AUTH.QA_OVERVIEW.DETAILS.TABLE.ACK_POR" | translate }}</mat-label>
							<input type="text" matInput autocomplete="off" [(ngModel)]="occurrence.ackUser">
						</mat-form-field>
					</div>
					<div *ngIf="typeId == 1" class="col-md-3">
						<mat-form-field class="example-full-width">
							<mat-label>{{ "MENU.END_DATE" | translate }}*</mat-label>
							<input matInput [ngxMatDatetimePicker]="picker2" autocomplete="off"
								placeholder="{{ 'MENU.END_DATE' | translate }}"
								[(ngModel)]="occurrence.dateTimeEnd" disabled="false">
							<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
							<ngx-mat-datetime-picker #picker2 [showSpinners]="showSpinners"
								[showSeconds]="showSeconds" [stepHour]="stepHour"
								[stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
								[enableMeridian]="enableMeridian">
							</ngx-mat-datetime-picker>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7">
						<h5>{{ "COMMENTS" | translate }}*</h5>
						<div class="textarea-wrapper">
							<textarea class="input" appearance="outline" style="width: 100%;" pInputTextArea [(ngModel)]="comments" (ngModelChange)="valueChange(comments.length)" maxlength="8000"></textarea>
							<span class="remaning">{{remainingText}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button  type="button" mat-raised-button cdkFocusInitial
							matTooltip="Cancel changes" (click)="closeModal()">
							{{ 'AUTH.GENERAL.CANCEL' | translate }}
						</button>&nbsp;
						<button type="button" mat-raised-button color="primary" (click)="sign()">
							{{ 'SAVE' | translate }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
