<div class="kt-portlet" style="margin-top: 0px;">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{ "MENU.ANALYSIS_DETAILS" | translate }}</h3>
		</div>
	</div>
	<div class="kt-portlet__body p-t-0">
		<div class="row form-group">
			<div class="col-lg-6">
				<label>{{ "CREATION_DATE" | translate }}</label><br />
				<span>{{message.dateTimeCreation | date:'yyyy-MM-dd HH:mm:ss'}}</span>
			</div>
			<div class="col-lg-6">
				<label>{{ "NOTIFICATION_TYPE" | translate }}</label><br />
				<span>{{message.typeNotificationChannelName}} </span>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-6">
				<label>{{ "DESTINY" | translate }}</label><br />
				<span>{{message.number}}</span>
			</div>
			<div class="col-lg-6">
				<label>{{ "ADDRESSEE" | translate }}</label><br />
				<span>{{ message.userInitials}} </span>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-12">
				<label>{{ "SUBJECT" | translate }}</label><br />
				<p>{{message.subject}}</p>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-12">
				<label>{{ "MESSAGE" | translate }}</label><br />
				<p  [innerHTML]="message.text"></p>
			</div>
		</div>

		<div class="row">

			<div class="col-md-12 text-center">
				<div class="page-header">
					<h4 id="timeline">Status</h4>
				</div>
				<div class="text-center">
					<mat-spinner style="margin-left: 45%;" [color]="'primary'" [diameter]="80" *ngIf="loading">
					</mat-spinner>
				</div>
		
				<div class="container" >
		
					<ul class="timeline" *ngIf="!loading">
						<div>

						</div>
						<li [ngClass]="{'timeline-inverted': 0 === index % 2}" *ngFor="let item of message.messageStatus; let index = index">
							<div class="timeline-badge success"><mat-icon>done</mat-icon></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h5 class="timeline-title">{{item.typeMessageStatusName}}</h5>
									<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{item.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}</small></p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
