<div class="container">
    <div class="number-input">
      <mat-form-field class="full-width">
        <mat-label>{{ label }}</mat-label>
        <input
          type="number"
          matInput
          [placeholder]="placeholder"
          [mask]="mask"
          [disabled]="isDisable"
          [(ngModel)]="component.value"
          [name]="name"
          [id]="id"
          autocomplete="off"
          [ngStyle]="{'border': isKey ? '1px solid green' : 'none'}"
        />
      </mat-form-field>
    </div>
  </div>