
$color:rgb(212, 209, 209);
$colorRejectedFont:white;
$colorRejectedBg:rgb(218, 72, 72);
$colorCompleteddBg:rgb(245, 255, 245);

.btn-space{
    padding-left: 16px;
}

.card {
    border: solid 1px rgb(0, 25, 101);
    border-radius: 10px;
    padding: 8px;
	margin-bottom: 15px;
}

.table-header{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    color:grey;
    font-weight: 500;
}

.table-row{
color:grey;
}
.item-title{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
   
}

.disabled-title{
    color:$color;
}


.rejected-item{
	background-color:$colorRejectedBg;
    color:$colorRejectedFont;
}
.sub-table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.sub-title{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:solid 1px rgb(212, 209, 209);
}
.dependecy-list{
    display: flex;
    flex-direction: row;
    font-size: 8px;
}

.title-dependency{
    display: flex;
    flex-direction: column;

}
.completed-item{
    background-color:$colorCompleteddBg;
}