<div class="my-container">
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
</div>
<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header [title]="'QA_ANALYSIS' | translate" [class]="'kt-portlet__head--lg'">
	</kt-portlet-header>

	<!-- end::Header -->

	<kt-portlet-body>
		<kt-alert *ngIf="error" type="warn" [duration]="3000" [showCloseButton]="true" (close)="onAlertClose($event)">
			{{errorMessage}}
		</kt-alert>


		<div class="row">
			<div class="col-lg-12" style="padding-bottom: 10px;">

				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{ 'MENU.FILTERS' | translate }}
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div class="row">
							<div class="col-lg-10">
								<div class="row">
									<div class="col-md-3">
										<mat-form-field class="example-full-width">
											<mat-label>{{ 'MENU.START_DATE' | translate }}</mat-label>
											<input matInput [ngxMatDatetimePicker]="picker"
												placeholder="{{ 'MENU.START_DATE' | translate }}"
												[(ngModel)]="filter.startDate" disabled="false">
											<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
											<ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
												[showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
												[stepSecond]="stepSecond" [touchUi]="touchUi" [enableMeridian]="enableMeridian">
											</ngx-mat-datetime-picker>
										</mat-form-field>
									</div>
									<div class="col-md-3">
										<mat-form-field class="example-full-width">
											<mat-label>{{ 'MENU.END_DATE' | translate }}</mat-label>
											<input matInput [ngxMatDatetimePicker]="picker1"
												placeholder="{{ 'MENU.END_DATE' | translate }}" [(ngModel)]="filter.endDate"
												disabled="false">
											<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
											<ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners"
												[showSeconds]="showSeconds" [stepHour]="stepHour" [stepMinute]="stepMinute"
												[stepSecond]="stepSecond" [touchUi]="touchUi" [enableMeridian]="enableMeridian">
											</ngx-mat-datetime-picker>
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<mat-form-field class="full-width">
											<mat-select [placeholder]="process" [(ngModel)]="filter.process"
												(selectionChange)="changeProcess()" class="full-width">
												<mat-option value="0"></mat-option>
												<mat-option *ngFor="let item of processes" [value]="item.processId">
													{{item.acronym}} - {{item.description}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<div class="col-md-3" *ngIf="filter.process > 0 && areas.length > 0">
										<mat-form-field class="full-width">
											<mat-select [placeholder]="area" [(ngModel)]="filter.area"
												class="full-width">
												<mat-option value="0"></mat-option>
												<mat-option *ngFor="let item of areas" [value]="item.areaId">
													{{item.name}} - {{item.description}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="col-lg-2">
								<div class="row" style="float: right; min-width: 250px;">
									<div class="col-md-12" style="padding: 10px;">
										<button mat-button (click)="loadFilter()" style="height: 50px; width: 100%;"
											mat-raised-button color="primary" type="button">
											<span>{{ 'MENU.FILTER' | translate }}</span>
										</button>
									</div>
									<div class="col-md-12" style="padding: 10px;">
										<button mat-button (click)="clearFilters()" style="height: 50px; width: 100%;"
											mat-raised-button color="default" type="button">
											<span>{{ 'MENU.CLEAR' | translate }}</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10"></div>
			<div class="col-md-2 text-right">
				<button mat-button (click)="openApproveModal()" mat-raised-button
					[disabled]="selectedIds == null || selection.selected.length < 1" color="primary" type="button">
					<span>{{ 'MENU.APPROVE_BTN' | translate }}</span>
				</button>
			</div>
		</div>


		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
				matSortActive="id" matSortDirection="asc" matSortDisableClear>

				<ng-container matColumnDef="selected"	>
					<mat-header-cell *matHeaderCellDef>
						<mat-checkbox disabled (change)="$event ? masterToggle() : null"
										[checked]="selection.selected.length > 0 && isAllSelected()"
										[indeterminate]="selection.selected.length > 0 && !isAllSelected()">
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let occurrence">
						<mat-checkbox (click)="$event.stopPropagation()"
										(change)="$event ? selectOccurrence(occurrence) : null"
										[checked]="isSelected(occurrence)">
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="alarms">
					<mat-header-cell *matHeaderCellDef>{{ "AUTH.QA_OVERVIEW.TABLE.ALARM" |
						translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.alarms}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="description">
					<mat-header-cell *matHeaderCellDef >{{
						"AUTH.QA_OVERVIEW.TABLE.DESCRIPTION" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.description}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="process">
					<mat-header-cell *matHeaderCellDef >{{
						"AUTH.QA_OVERVIEW.TABLE.PROCESS" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.process}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef >{{ "AUTH.QA_OVERVIEW.TABLE.ID" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{ alarm.occurrenceRecordId }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="area">
					<mat-header-cell *matHeaderCellDef >{{
						"AUTH.QA_OVERVIEW.TABLE.AREA" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.area}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="impactedArea">
					<mat-header-cell *matHeaderCellDef >{{
						"AUTH.QA_OVERVIEW.TABLE.IMPACTED_AREA" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{ alarm.impactedArea }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="analysisDate">
					<mat-header-cell *matHeaderCellDef >{{
						"AUTH.QA_OVERVIEW.TABLE.ANALYSIS_DATE" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.analysisDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="startDate">
					<mat-header-cell *matHeaderCellDef >{{
						"AUTH.QA_OVERVIEW.TABLE.START_DATE" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="endDate">
					<mat-header-cell *matHeaderCellDef >{{
						"AUTH.QA_OVERVIEW.TABLE.END_DATE" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="responsible">
					<mat-header-cell *matHeaderCellDef >{{
						"AUTH.QA_OVERVIEW.TABLE.RESPONSIBLE" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{ alarm.responsible }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="result">
					<mat-header-cell *matHeaderCellDef  style="justify-content: center;">{{ "AUTH.QA_OVERVIEW.TABLE.CAUSESIMPACTS" | translate }}
					</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm"  style="justify-content: center;" (click)="viewDetails(alarm)">
						<input type="checkbox" onclick="return false" [ngModel]="alarm.result" />
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="comments">
					<mat-header-cell *matHeaderCellDef style="justify-content: center;">{{
						"AUTH.QA_OVERVIEW.TABLE.DETAILS" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" style="justify-content: center;">
						<span *ngIf="alarm.comments.length <= 20">
							{{alarm.comments }}
						</span>
						<mat-icon class="view" *ngIf="alarm.comments.length > 20" (click)="viewSignatureDetails(alarm)">visibility</mat-icon>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="state">
					<mat-header-cell *matHeaderCellDef >{{
						"AUTH.QA_OVERVIEW.TABLE.STATE" | translate }}</mat-header-cell>
					<mat-cell class="mouse" *matCellDef="let alarm" (click)="viewDetails(alarm)">{{alarm.state }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="messages_history">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ "MESSAGES_HISTORY" | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let occurrence" style="justify-content: center;">
						<button mat-icon-button color="primary" (click)="viewMessageHistory(occurrence.occurrenceRecordId)">
							<mat-icon matTooltip="">visibility</mat-icon>
						</button>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="columnWithAnalyse"></mat-header-row>

				<mat-row *matRowDef="let row; columns: columnWithAnalyse"></mat-row>
			</mat-table>
			<div *ngIf="dataSource != null">
				<div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ "MENU.NO_RECORDS" | translate }}</div>
			</div>
			<!-- Message for empty data  -->
			<div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">{{ "MENU.PLEASE_WAIT" |
				translate }}</div>
		</div>
		<div class="mat-table__bottom">
			<mat-spinner [color]="'primary'" [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [length]="dataSource.paginatorTotal$ | async"
				[showFirstLastButtons]="true"></mat-paginator>
		</div>
	</kt-portlet-body>
</kt-portlet>
